@font-face {
  font-display: swap;
  font-family: 'Iosevka Sparkle';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/iosevka-sparkle-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'Iosevka Sparkle';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/iosevka-sparkle-bold.woff2") format("woff2");
  font-display: swap;
}
